.build
.qemu
node-v*-linux-x64/
.sconsign.dblite
*.sublime-workspace
build
node_modules
*.log
*.pyc
*.pid
.idea/
.*.swp
.lock-*
package/.crossbar/
package-lock.json
packages/autobahn-xbr/lib/contracts/
