name: Autobahn JS CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  unittest:
    env:
      CB_IMAGE: crossbario/crossbar:cpy-slim-amd64-22.7.1.dev1

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '14', '16' ]

    name: Node ${{ matrix.node }} run
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}

    # Run this a bit early in the CI, so we don't have to "sleep".
    - name: Run crossbar
      run: |
        docker run --rm --entrypoint=/usr/local/bin/crossbar $CB_IMAGE version
        docker run -d -v $PWD/.crossbar:/node -p 8080:8080 -p 8090:8090 -u $UID --entrypoint=/usr/local/bin/crossbar $CB_IMAGE start --cbdir /node

    - name: Install dependencies
      run: |
        sudo apt update
        sudo npm install -g nodeunit
        sudo pip3 install --no-cache-dir -U scons boto taschenmesser

    - name: Run tests
      run: cd packages/autobahn && npm install && npm test
